.t-json-viewer {
  font-size: 1em;
  width: 100%;
  height:100%;
  overflow:auto;
}

/* Item */

.item {
  border: 1px solid #fff;
  padding: 1px;
  margin: 0px 1px 5px 12px;
}

.inner-item {
  margin-left: 12px;
  transition: transform 0.1s ease-in;
}

/* Main */

.item__title {
  width:100%;
  /* white-space: nowrap; */
  border:1px solid #F5F5F5;
  padding:8px 16px;
}

.item__key {
  color: #1c1c1c;
}

.item__dot {
  color: #1c1c1c;
}

.item__value {
  color: #000;
}

/* Colors */

.item__type--array .item__value {
  color: #00428A;
}

.item__type--object .item__value {
  color: #00428A;
}

.item__type--string .item__value {
  color: #00428A;
}

.item__type--number .item__value {
  color: #73CB8C;
}

.item__type--boolean .item__value {
  color: #494949;
  background: #FFE66D;
}

.item__type--date .item__value {
  color: #00428A;
}

.item__type--function .item__value {
  color: #00428A;
}

.item__type--null .item__value {
  color: #fff;
  background: red;
}

.item__type--undefined .item__key {
  color: #999;
}
.item__type--undefined .item__value {
  color: #fff;
  background: #999;
}

/* */

.toggler {
  font-size: .8em;
  display:inline-block
}

/* .toggler::after {
  display: inline-block;
  content: "►";
  transition: transform 0.1s ease-in;
} */

.toggler i.icon {
  margin-right:5px;
  position:relative;
  top:1px;
}
/* .is-opened-true > .item__title i.icon {
  transform: rotate(90deg);
} */

/* */

.is-object-true > .toggler,
.is-object-true > .item__title{
  cursor: pointer;
}
